@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Recoleta";
  src: url("/Fonts/Recoleta-RegularDEMO.otf") format("opentype");
}
@font-face {
  font-family: "Brooklyn";
  src: url("/Fonts/Lato-Regular.ttf") format("ttf");
}

@theme {
  --font-heading: "Recoleta", sans-serif;
  --font-body: "Brooklyn", sans-serif;
}
html,
body {
  background-color: #fafafa;
  font-family: "poppins", sans-serif;
}
@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}
@utility col-center {
  @apply flex flex-col items-center justify-center;
}
