@import 'tailwindcss';


@font-face {
    font-family: 'Recoleta';
    src: url('/Fonts/Recoleta-RegularDEMO.otf') format('opentype');
}
@font-face {
    font-family: 'Brooklyn';
    src: url('/Fonts/Lato-Regular.ttf') format('ttf');
}

@theme{
    --font-heading: 'Recoleta', sans-serif;
    --font-body: 'Brooklyn', sans-serif;
}
html, body{
    background-color: #fafafa;
}
@utility flex-center{
    @apply flex items-center justify-center
}

@utility flex-between{
    @apply flex items-center justify-between
}

@utility abs-center{
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
}
@utility col-center{
    @apply flex flex-col items-center justify-center   
}